/*  your css code here. If applicable */
#photo-heading{
	text-align: centre;
	color: white;
	padding: 5px;
	margin: 5px;
}
#animal-photos{
	background-color: grey;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr
}
body{
	background-color:black;
}
img{
	border-radius:40;
	margin:10px;
}